- @title = @ssp_questionaire.title

%h1= @ssp_questionaire.name

%h2= @ssp_questionaire.author

%p= @ssp_questionaire.description

= form_for @ssp_questionaire do |f|
  %ol
    - @ssp_questionaire.fields.each_with_index do |field, i|
      %li
        %div= field
        = f.select("field_#{i+1}", @ssp_questionaire.selection_options, {:include_blank => 'WYBIERZ ...'})

  #next
    = f.submit("Następny")
