- @title = @cope_loss_questionaire.title

%h1= @cope_loss_questionaire.name

%h2= @cope_loss_questionaire.author

%h2= @cope_loss_questionaire.permission

%h2= @cope_loss_questionaire.experimental

%p= @cope_loss_questionaire.description

= form_for @cope_loss_questionaire do |f|
  %ol
    - @cope_loss_questionaire.fields.each_with_index do |field, i|
      %li
        %div= field
        = f.select("field_#{i+1}", @cope_loss_questionaire.selection_options, {:include_blank => 'WYBIERZ ...'})

  #next
    = f.submit("Następny")
